<mat-card class="choices-container">
  <mat-card-header class="choices-header">
    <mat-card-title>{{ choice.question }}</mat-card-title>
  </mat-card-header>
  <mat-card-actions fxLayoutAlign="space-between center" *ngIf="choice.hasChildren">
    <button
      [@rubberBand]="leftSelected"
      mat-raised-button
      color="accent"
      class="choices-option"
      (click)="leftSelected = !leftSelected; onSelect(false)"
    >
      No
    </button>
    <!-- <div fxFlex></div> -->
    <button
      [@rubberBand]="rightSelected"
      mat-raised-button
      color="primary"
      class="choices-option"
      (click)="rightSelected = !rightSelected; onSelect(true)"
    >
      Yes
    </button>
  </mat-card-actions>
</mat-card>
